# IDEA Code Style
.idea/*
!.idea/copyright/
!.idea/copyright/*
!.idea/codeStyles/
!.idea/codeStyles/*

# Credentials
/auth.json

# Log files
*.log

# Dependencies
/node_modules
/vendor

# Editor files
/.fleet
/.nova
/.vscode
/.zed

# No override files to allow dev environment
docker-compose.override.yml

# No themes
themes
theme/base/*
theme/keycloak/*
theme/keycloak.v2/*
META-INF
org.keycloak.keycloak-themes-*.jar
